BraveSoftware/
kdeglobals
krenamerc
WebCord/
autostart/
mc/
TabNine/
Code/
Flipper\ Devices\ Inc/
FreeCAD/
GIMP/
MongoDB\ Compass/
MultiViewer for F1/
OpenComic/
OpenRGB/
Postman/
Proton/
QtProject.conf
Thunar/
cef_user_data/
com.joaomgcd.taskerpermissions/
dconf/
discord/
dolphinrc
dunst/
electron25-flags.conf
github-copilot/
glib-2.0/
gnuradio/
gqrx/
gtk-2.0/
gtk-3.0
gtk-4.0/
jellyfin.org
kde.org
looking-glass/
mcomix/
mimeapps.list
nvim.bak/
nwg-look
obs-studio/
obsidian/
oktetarc
pavucontrol.ini
pgadmin4/
pipewire/
pulse/
ranger/
sdrpp/
session/
simple-update-notifier/
spotify-flags.conf
spotify/
user-dirs.dirs
user-dirs.locale
vlc/
xfce4/
xsettingsd/
zsh/.zcompdump*
zshbackup/
darktable/
configstore/
zsh/.zcompdump*
Raspberry Pi/
baloofileinformationrc
blender/
cura/
google-chrome/
htop/
kwalletrc
libvirt/
swtpm-localca.*
swtpm*
var/*
trashrc
va/
viewnior/
Electron/
Gadwin/
NewsLazer/
RawTherapee/
WowUp/
arduino-ide/
tuxguitar/
REAPER/
VSCodium/
WowUpCf/
kiorc
mgba/
mpv/
retroarch/
ripgrep-all/
libreoffice/
kwalletmanagerrc
kicad/
go/
shutdowneverything.sh
swappy
Epic/
Unreal Engine/
menus/
