cef_user_data/
dconf/
discord/
dolphinrc
dunst/
glib-2.0/
gtk-3.0
jellyfin.org
kde.org
'MongoDB Compass'/
nwg-look
obsidian/
Postman/
Proton/
vlc/
Code/
OpenRGB/logs/
BraveSoftware/
GIMP/
MultiViewer for F1/
OpenRGB/turqouis.orp
Thunar/renamerrc
github-copilot/
gnuradio/
gqrx/
gtk-2.0/
gtk-4.0/
obs-studio/
sdrpp/
spotify-flags.conf
spotify/
