Flipper\ Devices\ Inc/
MongoDB\ Compass/
BraveSoftware/
Code/
FreeCAD/
GIMP/
MultiViewer for F1/
OpenComic/
OpenRGB/
Postman/
Proton/
Thunar/
cef_user_data/
com.joaomgcd.taskerpermissions/
dconf/
discord/
dolphinrc
dunst/
github-copilot/
glib-2.0/
gnuradio/
gqrx/
gtk-2.0/
gtk-3.0
gtk-4.0/
jellyfin.org
kde.org
looking-glass/
mcomix/
nvim.bak/
nwg-look
obs-studio/
obsidian/
pgadmin4/
pipewire/
pulse/
ranger/
sdrpp/
session/
simple-update-notifier/
spotify-flags.conf
spotify/
systemd/
vlc/
xfce4/
xsettingsd/
QtProject.conf
electron25-flags.conf
mimeapps.list
oktetarc
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
